{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="sections">
    <div class="main-box">
        <img src="{{ url_for('static', filename='images/customer.png') }}" alt="customer">
        <br>
        <a href="{{ url_for('customers') }}"><button class="home-btn">View Customers</button></a>
    </div>
</div>
<div class="sections">
    <div class="main-box">
        <img src="{{ url_for('static', filename='images/transfers.png') }}" alt="transfer" style="height: 256px;">
        <br>
        <a href="{{ url_for('transfers') }}"><button class="home-btn">Transfers</button></a>
    </div>
</div>
{% endblock %}