{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="main-content">
    <h1>Transfer Log</h1>
    <br>
    {% if transfs %}
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Sender</th>
                    <th scope="col">Receiver</th>
                    <th scope="col">Amount ($)</th>
                    <th scope="col">Timestamp</th>
                </tr>
            </thead>
            <tbody>
            {% for transf in transfs %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ transf.sender }}</td>
                    <td>{{ transf.receiver }}</td>
                    <td>{{ transf.amount }}</td>
                    <td>{{ transf.timestamp }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4>No Transfers to Display!</h4>
    {% endif %}
</div>
{% endblock %}