{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="user-content">
    <h1>Customer Profile</h1>
    <br>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <table class="user">
            <tr>
                <td>
                    <h4>Name:</h4>
                </td>
                <td>
                    <h4>{{ cust.name }}</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Email:</h4>
                </td>
                <td>
                    <h4>{{ cust.email }}</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Balance($):</h4>
                </td>
                <td>
                    <h4>${{ cust.balance }}</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Tranfer to:</h4>
                </td>
                <td> {{ form.transferto }}</td>
            </tr>
            <tr>
                <td>
                    <h4>Amount:</h4>
                </td>
                <td>{{ form.amount(placeholder="Enter Amount") }}</td>
            </tr>
        </table>
        <br>
        <br>
        <button type="submit" class="t-btn">Transfer</button>
    </form>
</div>
{% endblock %}