* {
    font-family: monospace;
}

body {
    background-image: url('https://www.solidbackgrounds.com/images/1920x1080/1920x1080-burlywood-solid-color-background.jpg')
}

.main-content {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 6%;
}

.head {
    text-decoration: none;
    color: inherit;
}

.user-content {
    text-align: center;
    width: 20%;
    margin: 0 auto;
    margin-top: 6%;
}

.user {
    margin-top: 5%;
}

table.user > tr,td {
    text-align: left;
    padding: 10px;
}

.rbuttons {
    padding: 5px 0;
    font-size: large;
    margin: 0 10px;
}

.brandname {
    margin: 0 15px;
    font-size: 150%;
}

.rbuttons:hover {
    background-color:mediumpurple;
}

.sections {
    width: 50%;
    height: 90vh;
    float: left;
    border-right: 2px solid black; 
}

.main-box {
    text-align: center;
    width: 50%;
    margin: 125px 175px;
}

.home-btn {
    margin-top: 20px;
    font-size: 175%;
    border-radius: 10px;
    background-color: black;
    color: white;
    transition: transform .3s;
}

.home-btn:hover,.t-btn:hover {
    transform: scale(1.15);
}

.t-btn {
    margin-top: 5px;
    font-size: 175%;
    border-radius: 10px;
    background-color: black;
    color: white;
    transition: transform .3s;
}

.whitesmoke {
    background-color: whitesmoke;
}